[Unit]
Description=overlay-runner
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/var/tinyci/bin/overlay-runner -config {{ tinyci.config.runner }}
WorkingDirectory=/var/tinyci/bin/

[Install]
WantedBy=multi-user.target
